*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
.gradle/
build/
local.properties
proguard/
*.log
.navigation/
captures/
*.iml
.idea/
*.jks
.externalNativeBuild
google-services.json
freeline.py
freeline/
freeline_project_description.json